<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>

      <input matInput
             type="text"
             #title="ngModel"
             name="title"
             placeholder="Title"
             required
             [ngModel]="post?.title">
      <mat-error *ngIf="title.invalid && title.touched">Please enter a post title!!!!</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroke-button (click)="filePicker.click()" type="button">Pick Image</button>
      <input type="file" #filePicker>
    </div>
    <mat-form-field>
      <textarea matInput
                rows="6"
                #content="ngModel"
                name="content"
                placeholder="Content"
                required
                [ngModel]="post?.content"></textarea>
    </mat-form-field>
    <mat-error *ngIf="content.invalid && content.touched">Please enter a post content!!!!</mat-error>
    <button mat-raised-button type="submit" color="accent">Save Post</button>
  </form>
</mat-card>




<!-- action bar -->
<!-- https://material.angular.io/components/expansion/overview -->
